# # Supabase
# NEXT_PUBLIC_SUPABASE_URL=dummy-supabase-url
# NEXT_PUBLIC_SUPABASE_ANON_KEY=dummy-anon-key

NEXT_PUBLIC_SUPABASE_URL=https://qpxhrfzuxyfmzhhrzplz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFweGhyZnp1eHlmbXpoaHJ6cGx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzNjI3NTQsImV4cCI6MjA2MTkzODc1NH0.eJetf653P51NYjkgs32v8vy4ueEytBS1jS6DWf0C0CY
# OpenAI
OPENAI_API_KEY=dummy-openai-key

NEXTAUTH_URL=http://localhost:3000
# Generate this using: openssl rand -base64 32
NEXTAUTH_SECRET=dummy-nextauth-secret

# Google OAuth
GOOGLE_CLIENT_ID=dummy-google-client-id
GOOGLE_CLIENT_SECRET=dummy-google-client-secret

# App key
NEXT_PUBLIC_DEMO_API_KEY=dummy-demo-api-key